<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
<div class="root">

    <div style="text-align:center">
        <h1>
            Welcome to {{ title }}!
        </h1>
    </div>

    <div class="mytasks">

        <h1>My tasks are: </h1>

        <button (click)="getTasksFromService()">Get all Tasks</button>

        <div *ngFor="let task of tasks">
            <h2>{{ task.title }}</h2>
            <button (click)="desc = task">Get Details</button>
            <button (click)="delTask(task._id)">Delete</button>
            <button (click)="edit=task">Edit</button>
        </div>

        <div *ngIf="edit">

            <form (submit)="editTask(edit)" class="postForm">
                <p>{{ newTask | json }}</p>

                <div class="form-group">
                    <label for="formGroupExampleInput">Title
                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Title" name="edit.title"
                            [(ngModel)]="edit.title">
                    </label>
                </div>

                <div class="form-group">
                    <label for="formGroupExampleInput2">Description
                        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Description"
                            name="edit.description" [(ngModel)]="edit.description">
                    </label>
                </div>

                <input type="Submit">
            </form>

        </div>

        <app-task *ngIf="desc" [showDetails]="desc"></app-task>

    </div>

    <div class="add">
        <h1>Add A task</h1>

        <form (submit)="onSubmit()" class="postForm">
            <p>{{ newTask | json }}</p>

            <div class="form-group">
                <label for="formGroupExampleInput">Title
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Title" name="newTask.title"
                        [(ngModel)]="newTask.title">
                </label>
            </div>
            
            <div class="form-group">
                <label for="formGroupExampleInput2">Description
                    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Description" name="newTask.description"
                        [(ngModel)]="newTask.description">
                </label>
            </div>
            <input type="Submit">

        </form>
    </div>


</div>
<router-outlet></router-outlet>